.slider {
    width: 85%;
    height: 500px;
    background: gray;
    margin: 0 auto;
}

.slider img {
    width: 100%;
    height: 500px;
}

.sliderBull {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 50px;
}

.sliderBull li {
    margin: 0 5px;
    cursor: pointer;
    transition: .5s;
}


.sliderBull li:hover {
    transition: .5s;
    color: gray;
}

iframe {
    width: 100%;
    height: 500px;
}